services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    image: madef-dev
    command: npm run dev:web
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
    restart: unless-stopped
